<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User creation</title>
</head>
<body>
	<h1>Stock</h1>
	
	<form action="#" th:action="@{/stock/create}" method="post">
  		<button type="submit"> Create new stock </button>
	</form>
	
	<table>
		<thead>
        	<tr>
            	<th> Equipment </th>
            	<th> Quantity </th>
        	</tr>
    	</thead>
	
		<tbody>
    		<tr th:each="stock : ${stocks}">
        
        		<td><span th:text="${stock.equipment.name}"></span></td>
        		<td><span th:text="${stock.quantity}"></span></td>
        		
        		<td>
            		<form action="#" th:action="@{/stock/edit/} + ${{stock.id}}" method="post">
                		<button type="submit"> <i>edit</i> </button>
            		</form>
        		</td>
        
        		<td>
	            	<form action="#" th:action="@{/stock/delete/} + ${{stock.id}}" method="post">
	                	<button type="submit"> <i>delete</i> </button>
	            	</form>
        		</td>
    		</tr>
		</tbody>
	</table>
	
</body>
</html>