<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header>
		<div>ZooKeeper</div>
		<section>
			<a th:href="@{/tasks}">
				<div>Task</div>
			</a> <a th:href="@{/stock}">
				<div>Stock</div>
			</a>
		</section>
		<section>
			<a th:href="@{/user}">
				<div>My account</div>
			</a>
		</section>
	</header>
	<main>
	<h1>Password edition</h1>
	<form action="#" th:action="@{/users/updatePasswordForce}"
		th:object="${user}" method="post">

		<input type="hidden" th:field="*{id}" />

		<p>
			user : <input type="text" th:field="*{name}" th:value="${user.name}"
				disabled="disabled" />
		</p>

		<p>
			password : <input type="password" th:field="*{password}" />
		</p>

		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" />
	</form>

	<form action="#" th:action="@{/users}" method="get">
		<button type="submit">Back to users list</button>
	</form>
	</main>
</body>
</html>