<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>ZooKeeper</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<meta charset="UTF-8">
</head>
<body>
	<header>
		<div>ZooKeeper</div>
		<section>
			<a th:href="@{/tasks}">
				<div>Task</div>
			</a> <a th:href="@{/stock}">
				<div>Stock</div>
			</a>
		</section>
		<section>
			<a th:href="@{/user}">
				<div>My account</div>
			</a>
		</section>
	</header>
	<main>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name modified : <input type="text"
				name="username" />
			</label>
		</div>
		<div>
			<label> Password modified: <input type="password"
				name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	</main>
</body>
</html>